USE [master]
GO
/****** Object:  Database [Ahorcado]    Script Date: 11/6/2026 08:57:29 ******/
CREATE DATABASE [Ahorcado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ahorcado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Ahorcado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ahorcado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Ahorcado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ahorcado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ahorcado]
GO
/****** Object:  User [alumno]    Script Date: 11/6/2026 08:57:29 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Palabras]    Script Date: 11/6/2026 08:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabras](
	[ID] [int] NOT NULL,
	[Palabra] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Palabras] ([ID], [Palabra]) VALUES (1, N'ELEFANTE')
INSERT [dbo].[Palabras] ([ID], [Palabra]) VALUES (2, N'SINFONICO')
INSERT [dbo].[Palabras] ([ID], [Palabra]) VALUES (3, N'VENTANAL')
GO
USE [master]
GO
